<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Home</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="../static/home.css"> -->
    <link rel="stylesheet" href="../static/login.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-size:large">
            <a class="navbar-brand" href="/" style="color: #0062AE">Real<span style="color:black">Estate</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav ml-auto">
                {% if  request.user.is_superuser%}
                <li class="nav-item"><a class="nav-link" title = "Dashboard" href="/addclient/"><i class="bi bi-grid-3x3-gap-fill"></i></a></li>&nbsp;&nbsp;&nbsp;
                {% endif %}
                <li class="nav-item"><a class="nav-link"  title = "Search properties"href="/properties/"><i class="fa fa-search mr-2"></i></a></li>&nbsp;&nbsp;&nbsp;
                {% if  not request.user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" title = "Sign in" href="/loginpage/"><i class="fa fa-user mr-2"></i>Sign-in</a></li>&nbsp;&nbsp;&nbsp;
                <li class="nav-item"><a class="nav-link" title = "Register" href="/register/"><i class="fa fa-user-plus mr-2"></i>Register</a></li>&nbsp;&nbsp;&nbsp;
                {% endif %}
                {% if  request.user.is_superuser%}
                <li class="nav-item"><a class="nav-link" target="_blank" title = "Admin Panel" href="/admin/"><i class="fa fa-user-circle mr-2"></i></a></li>&nbsp;&nbsp;&nbsp;
                {% endif %}
                {% if  request.user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" title = "Review" href="/reviewlist/"><i class="fa fa-heart mr-2"></i></a></li>&nbsp;&nbsp;&nbsp;
                <li class="nav-item"><a class="nav-link" title = "Logout" href="/logoutpage/"><i class="bi bi-box-arrow-right"></i></a></li>&nbsp;&nbsp;&nbsp;
                {% endif %}

            </ul>
        </div>
    </nav>
    {% block content %}

    {% endblock %}

    </body>
    </html>